* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark-blue: #0A1D3C;
    --light-gray: #E5E5E5;
    --white: #FFF;
    --light-peach: #F9E3BC;
    --dark-gray: #3E3F43;
    --light-black: #1D1D1D;
}

/* Section 1 */
.section {
    min-height: 100vh;
    width: 100%;
}

nav {
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

header {
    width: 80%;
    height: calc(100vh - 13vh);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.navlinks {
    display: flex;
}

.header-image {
    width: 40rem;
    height: 45rem;
}

.logo {
    font-size: 3.3rem;
    color: var(--dark-blue);
    font-family: 'Allison', cursive;
}

.navlinks li {
    list-style: none;
}

.navlinks li a {
    text-decoration: none;
    margin-left: 2.5rem;
    color: var(--dark-gray);
    font-size: 1rem;
    letter-spacing: .03rem;
    position: relative;
}

.header-heading {
    font-size: 3rem;
    position: relative;
}

.header-heading::before {
    content: "New";
    position: absolute;
    top: -60px;
    color: var(--dark-blue);
    font-family: 'Allison', cursive;
}

.product-name {
    font-size: 1.7rem;
}

.header-pricing {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.primary-btn, .secondary-btn {
    font-size: 1.1rem;
    border: none;
    padding: 1rem 1.7rem;
    transform: transform .5s ease-in-out;
}

.primary-btn {
    background: var(--light-gray);
}

.secondary-btn {
    background: var(--dark-blue);
    color: var(--white);
    transform: scale(1.1);
}

.primary-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: blue;
}

.secondary-btn:hover {
    transform: scale(1);
}

.navlinks li a::after {
    content: "";
    background: var(--dark-gray);
    position: absolute;
    height: .15rem;
    width: 100%;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
    transform-origin: right;
}

.navlinks li a:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.line {
    background-color: var(--dark-gray);
    width: 2.5rem;
    height: .2rem;
    margin: .38rem;
}

.hamburger {
    cursor: pointer;
    display: none;
}

/* Section 2 */
.section-two {
    display: flex;
    align-items: center;
}

.section-two-container {
    background: var(--light-peach);
    width: 100%;
    height: 65vh;
    transform: skewY(-6deg);
}

.section-two-image {
    width: 28rem;
}

.section-two-inner-container {
    transform: skewY(6deg);
    width: 80%;
    margin: auto;
}

.section-two-container, .section-two-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two-heading {
    color: var(--dark-gray);
    font-size: 4rem;
}

.section-two-para {
    font-size: 1rem;
    color: var(--dark-gray);
    line-height: 1.8rem;
    max-width: 80%;
}

.section-two-btn {
    font-size: 1rem;
    border: none;
    background: var(--dark-blue);
    color: var(--white);
    padding: 1rem 2rem;
    margin-top: 1rem;
    transform: transform .5s ease-in-out;
}

.section-two-btn:hover {
    transform: scale(1.1);
    background-color: red;
}

/* Section 3 */
.section-heading {
    font-size: 2rem;
    text-align: center;
    color: var(--light-black);
    margin-bottom: 2rem;
    font-family:'Allison', cursive;;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 20rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1rem;
    margin-right: 2rem;
}

.card-image {
    width: 10rem;
    height: 13rem;
    margin-bottom: 2rem;
}

/* Section 4 */
.section-four-container {
    background: url('watch.jpg') center center/cover no-repeat;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    position: relative;
}

.section-four-offer {
    color: var(--light-peach);
    font-size: 3rem;
}

.section-four-heading {
    color: var(--white);
    font-size: 2rem;
}

.section-four-btn {
    font-size: 1rem;
    border: none;
    background: var(--light-peach);
    color: var(--white);
    padding: 1rem 2rem;
    margin-top: 1rem;
    transform: transform .5s ease-in-out;
}
.section-four-btn:hover {
    transform: scale(1.1);
}
/* Section 5 */
.grid-card-container {
    width: 60%;
    height: 80vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
    grid-auto-rows: 15rem;
}
.grid-card {
    background: var(--light-gray);
    position: relative; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-card:nth-child(1) {
    grid-row: 1 / 4;
    background-image: url("rado\ watch.jpg");
}
.grid-card:nth-child(2){
    background-image: url("geneve\ watch.jpg");
}
 .grid-card:nth-child(3) {
    grid-row: 1 / 3;
    background-image: url("tissot\ watch.jpg");
}
.grid-card:nth-child(4) {
    grid-row: 3 / 4;
    background-image: url("cartier\ watch.jpg");
}
.grid-card:nth-child(5){
    background-image: url("omega\ watch.jpg");
}
.grid-card:nth-child(6){
    background-image: url("fitron\ watch.jpg");
}
.grid-card::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.544);
    inset: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s ease-in-out;
}
.grid-card:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.grid-card::after {
    content: attr(collection);
    position: absolute;
    text-transform: uppercase;
    background: var(--light-peach);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.7rem;
    font-size: 1.1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
}
.grid-card:hover::after{
    opacity: 1;
    visibility: visible;
}

/* Footer */
footer{
    background: var(--light-black);
    height: 20vh;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-txt{
    color: white;
    font-size: 1.5rem;
}



@media screen and (max-width: 500px){
    /* Section 1 */
    .header-image{
        display: none;
    }
    .navlinks{
       flex-direction: column;
       position: absolute;
       top:0;
       background-color: var(--light-gray);
       width: 100%;
       height: 100%;
       justify-content: center;
       align-items: center;
       right: 100%;
       z-index: 2;
       gap: 2rem;
       transition: 2s ease ease-in-out;
    }
    .navlinks-active{
        right: 0;
    }
    .navlinks li a{
        font-size: 1.3rem;
        margin-left: 0;
    }
    .hamburger{
        display: block;
        z-index: 5;
    }
    .section .logo{
        z-index: 5;
    }
    .header-heading{
        font-size: 4rem;
    }
    header{
        justify-content: flex-start;
    }
    /* Section 2 */
    .section-two-image{
        display: none;
    }
    .section-two-heading{
        font-size: 2.9rem;
    }
    .section-two-para{
        font-size: .93rem;
        max-width: 100%;
    }
    .section-two-pricing{
        font-size: 1.4rem;
    }
    .section-two-btn{
        font-size: 1rem;
        padding: .7rem 1rem;
    }
    .section-two-container{
        height: 60vh;
    }
    .section-two-inner-container{
        width: 90%;
    }
    /* Section 3 */
    
    .card {
        width: 100%;
        height: auto;
    }
    .card-image {
        width: 100%;
        height: auto;
    }
    /* Section 4 */
    .section-four-heading{
        font-size: 2.8rem;
    }
    .section-four-offer{
        font-size: 3.3rem;
    }
    .section-four-btn{
        font-size: 1rem;
    }
    /* Section 5 */
    .grid-card-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .grid-card:nth-child(1), .grid-card:nth-child(3){
        grid-row: 1/2;
    }
}